.StandingsTable {
    align-items: center;
    width: 65%;
}

table {
    table-layout: auto;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    align-items: center;
    background-color: darkgrey;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.Headers{
    border: 1px solid black;
}


.Values{
    border: 1px solid grey;
}

.Values:hover{
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    background-color: grey;
}

tr {
    border-bottom: 1px solid dimgray;
}

th {
    background: dimgray;
    border-bottom: 1px solid;
}

td {
    padding: 1px;
}